@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700,700i');

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "ho ho ho ho ho ho ho ho ho ho ho ho"
    ". . as as ct ct ct ct ct ct . ."
    "ft ft ft ft ft ft ft ft ft ft ft ft";

  header {
    grid-area: hd;
  
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      min-height: 50px;
      background: #D3DBCF;
      
      a {
        font-family: Arial, sans-serif;
        color: #2F2E2E;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
    
  }

  .hero {
    grid-area: ho;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: top center;
    background-size: cover;
    min-height: 300px;
    border-bottom: 1px solid rgba(132, 148, 123, 0.25);

    img {
      width: 100px;
    }
  }

  aside {
    grid-area: as;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 200px;
    width: 100%;
  }

  .content {
    grid-area: ct;
    
  }

  
  footer {
    grid-area: ft;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.blog_post_container {
  max-width: 100%;
}

.blog_post {
  max-width: 90%;
  padding: 0 20px;
}

.blog_post_preview {

  h1 {
    
    a {
      text-decoration: none;
      color: rgba(0,0,0,1);
    }
  }
}

.blog_header_image {
  background-image: url(../assets/emile-perron-190221.jpg);
  background-size: cover;
  height: 300px;
  margin: 30px 0;
}

@media(max-width: 1024px){
  .container {
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "ho ho ho ho ho ho ho ho ho ho ho ho"
    ". as as as ct ct ct ct ct ct ct ."
    "ft ft ft ft ft ft ft ft ft ft ft ft";
  }
}

@media(max-width: 768px){
  .container {
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "ho ho ho ho ho ho ho ho ho ho ho ho"
    "as as as ct ct ct ct ct ct ct ct ct"
    "ft ft ft ft ft ft ft ft ft ft ft ft";
  }
}

@media(max-width: 550px){
  .container {
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "ho ho ho ho ho ho ho ho ho ho ho ho"
    "as as as as as as as as as as as as"
    "ct ct ct ct ct ct ct ct ct ct ct ct"
    "ft ft ft ft ft ft ft ft ft ft ft ft";
  }
}