@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700,700i');

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
}

.container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header"
    "hero hero"
    "sidebar content"
    "footer footer";

  header {
    grid-area: header;
  
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      min-height: 50px;
      background: #D3DBCF;
      
      a {
        font-family: Arial, sans-serif;
        color: #2F2E2E;
        text-decoration: none;
      }
    }
    
  }

  .hero {
    grid-area: hero;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: top center;
    background-size: cover;
    min-height: 300px;
    border-bottom: 1px solid rgba(132, 148, 123, 0.25);

    img {
      width: 100px;
    }
  }

  aside {
    grid-area: sidebar;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 200px;
  }

  content {
    grid-area: content;
    min-height: 200px;
  }

  footer {
    min-height: 50px;
    padding: 10px;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.blog_post_container {
  max-width: 100%;
}

.blog_post {
  max-width: 90%;
  padding: 0 20px;
}

.blog_post_preview {

  h1 {
    
    a {
      text-decoration: none;
      color: rgba(0,0,0,1);
    }
  }
}

.blog_header_image {
  background-image: url(../assets/emile-perron-190221.jpg);
  background-size: cover;
  height: 300px;
  margin: 30px 0;
}