.blog_post_container {
  max-width: 100%;
}

.blog_post_content {
  
  img {
    display: block;
    width: 80%;
    margin: 20px auto;
  }

}

.blog_post {
  max-width: 100%;
  padding: 0 20px;
}